* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.input-container {
  margin-bottom: 15px;
}

.auth-container {
  text-align: center;
}
/* Signup Page css */

.bottom-signup {
  display: flex;
}
.bottom-signup p {
  margin-right: 10px;
}
.button-submit {
  margin-top: 10px;
  width: 100%;
}
.signup-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 10px 10px 8px rgba(14, 12, 12, 0.94);
}
